@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-text {
    animation: slideIn 1.5s ease infinite;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
